
.icon-twitter-bird:before { content: '\e800'; } /* '' */
.icon-wind:before { content: '\e801'; } /* '' */
.icon-tree-2:before { content: '\e802'; } /* '' */
.icon-giraffe:before { content: '\e803'; } /* '' */
.icon-cloud:before { content: '\e804'; } /* '' */